$main-font: "Montserrat",
sans-serif;
$font-text: "Roboto",
sans-serif;
$font-decor: "Kaushan Script",
cursive;
$color-text-hero: #ffffff;
$color-title: #333333;
$color-accent: #95e1d3;
$color-description: #999999;
$color-nav-hover: #fce38a;
$color-hover: #f38181;
$color-line-footer: #e5e5e5;
$color-input-border: #e7e7e7;
$color-placeholder: #cccccc;
